{% extends 'MyAdminApp/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <form action="{% url 'myadmin:image' banner.pk %}" method="post">
            {% csrf_token %}
            <div class="card" style="">
              <img class="" src="{{ media_url }}{{ banner.image }}" alt="{{ banner.image }}"style="width:100%">
              <div class="card-body">
                <div class="form-check">
                    {{ banner_form.is_active }}
                    <label class="form-check-label" for="defaultCheck1">Активен</label>
                </div>
              </div>
            <button type="submit" class="btn btn-outline-success">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock content %}