{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {{ title|capfirst }}
        {% endblock title %}
    </title>

    {% block css %}
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/style.css">
    {% endblock css %}

    {% block js %}
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/index.js"></script>
    {% endblock js %}

    {% block style %}
    <style>
        @font-face {
            font-family: Montserrat; /* Имя шрифта */
            src: url("/static/fonts/Montserrat-Medium.ttf"); /* Путь к файлу со шрифтом */
        }
    </style>
    {% endblock style %}
</head>
<body>
    <header>
        {% include 'MainApp/includes/inc_banner.html' %}
        {% include 'MainApp/includes/inc_menu.html' %}
    </header>
    <main class="content margin-content">
        <div class="container">
            <div class="row">
                {% block content %}
                {% endblock content%}
                <div class="col-3">
                    {% include 'MainApp/includes/inc_promo.html' %}
                    <div class="commercial" style="height: 200px; border: 1px solid #ffffff; margin-top: 1rem">
                    </div>
                    {% include 'MainApp/includes/inc_podcast.html' %}
                    {% include 'MainApp/includes/inc_top_fighters.html' %}
                </div>
            </div>
        </div>
    </main>
    {% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Разработка @sanboroda</span>
        </div>
    </footer>
    {% endblock footer %}
</body>
</html>